body {
    margin: 0 !important;
    padding: 0 !important;
}
    .banner {
        height: 830px;
        background: url('./img/banner.jpg') center center no-repeat;
        padding: 20px;
        .about-sign-in {
            height: 80px;
            width: 100%;
            text-align: right;
            .about, .signin {
                margin-top: 20px;
                padding: 7px;
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
             
            }
            .signin {
                border: 2px solid #8bc34a;
                border-radius: 9999px;
                color: #8bc34a;
                padding: 10px 15px;
                margin-left: 20px;
            }
        }
        .logo {
            background: url('./img/hapoERP.png') center center no-repeat;
            margin-top: 150px;
            height: 100px;
        }
        .text {
            text-align: center;
            margin-top: 70px;
            font-size: 19px;
            font-style: italic;
        }
        .btn-start-now {
            text-align: center;
            margin-top: 35px;
            button {
                text-transform: uppercase;
                padding: 11px 25px 8px;
                background-color: #7fc33b;
                border-radius: 9999px;
                border: 2px solid #000;
                color: white;
                cursor: pointer;
            }
        }
        .content-center {
            margin-top: 30px;
            .left, .center, .right {
                width: 33%;
                display: inline-block;
                text-align: center;
                span {
                    display: block;
                    font-size: 30px;
                }
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }